<!-- <input class="form-control" type="text" name="description" placeholder="Descrição do artigo"><br>
<input class="form-control" type="text" name="exec" placeholder="Executor"><br>
<input class="form-control" type="text" name="requester" placeholder="Requerente"><br>
<input class="form-control" type="text" name="dpto" placeholder="Departamento"><br>
<input class="form-control" type="text" name="release" placeholder="Notícia"><br>
<button class="btn btn-danger">Cadastrar</button> -->

<!-- Campo da descrição-->
<div class="form-group">
    <input class="form-control mb-3" type="text" name="description" placeholder="Descrição do artigo">
</div>
<!-- Campo do executor e requerente na mesma linha -->
<div class="form-row align-items-center mb-3">
    <div class="col">
        <input class="form-control" type="text" name="exec" placeholder="Executor">
    </div>
    <div class="col">
        <input class="form-control" type="text" name="requester" placeholder="Requerente">
    </div>
</div>
<!-- Campo departamento e notícia na mesma linha -->
<div class="form-row align-items-center mb-3">
    <div class="col">
        <input class="form-control" type="text" name="dpto" placeholder="Departamento">
    </div>
    <div class="col">
        <input class="form-control" type="text" name="release" placeholder="Notícia" maxlength="5">
    </div>
</div>
<button class="btn btn-danger">Cadastrar</button>

<!-- <input class="form-control" type="text" name="article" placeholder="Artigo"><br>
<input class="form-control" type="text" name="description" placeholder="Descrição do artigo"><br>
<input class="form-control" type="text" name="exec" placeholder="Executor"><br>
<input class="form-control" type="text" name="requester" placeholder="Requerente"><br>
<input class="form-control" type="text" name="dpto" placeholder="Departamento"><br>
<input class="form-control" type="text" name="release" placeholder="Notícia"><br>
<button class="btn btn-success">Cadastrar</button> -->