<nav class="navbar navbar-expand-lg navbar-dark bg-danger justify-content-center">
    <a class="navbar-brand" href="/programa1">Programa 1</a>
    <a class="navbar-brand" href="/tng">TNG</a>
    <a class="navbar-brand" href="/tbatbc">TBA/TBC</a>
    <a class="navbar-brand" href="/tbanext">TBA Next</a>
    <a class="navbar-brand" href="/tbcnext">TBC Next</a>
    <a class="navbar-brand" href="/tnd">TND</a>
    <!-- <a class="navbar-brand" href="/tnds">TND-S Next</a> -->
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
    <a class="navbar-brand" href="/projetosespeciais">Projetos especiais</a>
    <a class="navbar-brand" href="/materialbruto">Material bruto</a>
    <!-- <a class="navbar-brand" href="/dispositivos">Dispositivos</a> -->
    <a class="navbar-brand" href="/iemca">IEMCA</a>
    <a class="navbar-brand" href="/starhardinge">Star/Hardinge</a>
</nav>